.contest__inner {
  width: 100%;
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.contest__caption {
  @include reset();
  margin-bottom: 5px;
  line-height: 29px;
  text-align: center;
}

