.devices-list {
  @include reset-list();
  display: flex;
  margin-bottom: 14px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 27px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 46px;
  }
}

.devices-list__item {
  display: flex;
  justify-content: center;
  min-width: 80px;
  height: 65px;
}

.devices-list__item--ios {
  align-items: flex-start;
}

.devices-list__item--android {
  align-items: center;
}

.devices-list__item--microsoft-store {
  align-items: center;
}


