.form__caption {
  @include reset();
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.form__fieldset {
  padding: 35px 20px 25px;
  margin: 0 -20px;
  border: none;
}

.form__fieldset:nth-child(2n) {
  background-color: $color-neutral;
}

.form__title {
  float: left;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 22px;
  line-height: 18px;
  color: $color-secondary;
  text-transform: uppercase;
}

.form__group {
  @include reset();
  margin-bottom: 19px;
}

.form__label {
  display: block;
  padding-left: 22px;
  margin-bottom: 8px;
  color: $color-secondary;
  text-transform: uppercase;
}

.checkbox,
.radio {
  font-size: 18px;
}

.form__footnote {
  @include reset();
  text-transform: uppercase;
}

.form__asterisk {
  color: $color-secondary;
}
