.get-app {
  padding-top: 28px;
  padding-bottom: 30px;

  @media (min-width: $screen-tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.get-app__inner {
  position: relative;
  width: 100%;
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-desktop) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.get-app__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: 138px;
    left: 0;
    z-index: 1;
    width: 46vw;
    padding: inherit;
  }

  @media (min-width: $screen-desktop) {
    bottom: 122px;
    width: 321px;
  }
}

.get-app__caption {
  @include reset();
  display: none;
  width: 240px;
  margin-bottom: 31px;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;

  @media (min-width: $screen-tablet) {
    display: block;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 60px;
  }
}

.get-app__button {
  margin-bottom: 31px;

  @media (min-width: $screen-tablet) {
    padding-right: 46px;
    padding-left: 46px;
    margin-bottom: 46px;
  }

  @media (min-width: $screen-desktop) {
    padding-right: 29px;
    padding-left: 29px;
    margin-bottom: 67px;
    font-size: 21px;
  }
}

.get-app__text {
  @include reset();
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: $screen-tablet) {
    width: 300px;
    font-size: 18px;
  }
}

