.like-button {
  display: inline-block;
  padding: 5px 0;
  margin-right: 15px;
  font-size: 0;
  vertical-align: top;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  @media (min-width: $screen-tablet) {
    order: 1;
    margin-right: 0;
  }
}

.photo-card--wide .like-button {
  @media (min-width: $screen-tablet) {
    margin-left: 18px;
  }
}

.like-button svg {
  fill: $color-secondary;
}
