.page-footer {
  display: none;
  padding-bottom: 40px;

  @media (min-width: $screen-tablet) {
    display: block;
    padding-top: 36px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 70px;
    margin-bottom: 35px;
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $screen-desktop) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.page-footer__logo {
  @include reset();
  height: 40px;
}

.page-footer__logo-htmlacademy-image {
  @media (min-width: $screen-tablet) {
    vertical-align: middle;
  }
}

.page-footer--photo {
  display: flex;
}

.page-footer__picture {
  @include reset();
  width: 147px;
  height: 40px;
  margin-bottom: 40px;
}

.page-footer__copyright {
  @include reset();

  @media (min-width: $screen-tablet) {
    align-self: center;
    padding-top: 6px;
  }
}

.page-footer__text {
  margin-right: 10px;

  @media (min-width: $screen-desktop) {
    font-size: 18px;
  }
}

.page-footer__logo-htmlacademy {
  vertical-align: middle;
  fill: $color-secondary;
}
