.page-header {
  margin-bottom: 80px;
  color: $color-light;
  background-color: $color-primary;
  background-image: url("../../img/bg-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.page-header__top {
  background-color: rgba(0, 0, 0, .3);
}

.page-header__title {
  @include reset();
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.page-header__image {
  @include reset();
}
