.photo-upload {
  margin-bottom: 40px;
}

.photo-upload__heading {
  margin-bottom: 42px;
}

.photo-upload__inner {
  width: 100%;
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.photo-upload__caption {
  @include reset();
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.photo-upload__content {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $color-neutral;
}
