.pricing-table {
  width: 300%;
  margin-bottom: 38px;
  border-collapse: collapse;
  transform: translateX(-33.3%);

  @media (min-width: $screen-tablet) {
    width: 100%;
    transform: none;
  }
}

.pricing-table__item {
  min-width: 280px;
  padding: 15px 15px 14px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $color-light;
  border: 2px solid #e5e5e5;

  @media (min-width: $screen-tablet) {
    width: 25%;
    min-width: 0;
    text-transform: none;
  }
}

.pricing-table__item--head {
  padding: 15px 10px;
  color: $color-light;
  background-color: $color-primary;
  border-top-color: $color-primary;
  border-bottom-color: $color-primary;
}

.pricing-table__item--empty {
  display: none;

  @media (min-width: $screen-tablet) {
    display: table-cell;
    color: transparent;
    background-color: transparent;
    border: none;
  }
}

.pricing-table__item--name {
  display: none;

  @media (min-width: $screen-tablet) {
    display: table-cell;
    width: 25%;
  }
}

.pricing-table__title {
  display: block;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-table__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

