.social-links {
  @include reset-list();
  display: flex;
  margin-bottom: 39px;

  @media (min-width: $screen-tablet) {
    padding-top: 3px;
    margin-right: 22px;
    margin-bottom: 0;
  }
}

.social-links__item {
  margin-right: 12px;
}

.social-links__item:last-of-type {
  margin-right: 0;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  font-size: 0;
  border: 3px solid rgba($color-primary, .1);
  border-radius: 50%;
}

.social-links__icon {
  fill: $color-secondary;
}

.social-links__icon--twitter {
  margin-left: 3px;
}

.social-links__icon--facebook {
  margin-bottom: 1px;
  margin-left: 3px;
}

.social-links__icon--youtube {
  margin-left: 4px;
}

