.social-links {
  @include reset-list();
  display: flex;
  margin-bottom: 39px;
}

.social-links__item {
  margin-right: 12px;
}

.social-links__item:last-of-type {
  margin-right: 0;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  font-size: 0;
  border: 3px solid rgba($color-primary, .1);
  border-radius: 50%;
}

.social-links__link svg {
  fill: $color-secondary;
}
